* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 40%;
  margin: auto;
  padding-top: 3rem;
}

h1 {
  display: inline;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  font-size: 1.5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.interactive-options {
  display: flex;
  gap: 1rem;
}

body {
  background-color: #f3f3f3;
  color: #242222;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #242222;
    color: #f3f3f3;
  }
}

/*FORM STYLINGS*/

.input-icon {
  width: 100%;
  position: relative;
}

.input-icon i {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

input {
  width: 100%;
  margin: 30px auto 0px auto;
  font-size: 1.2rem;
  padding: 10px;
  font-family: inherit;
  border-radius: 10px;
}

select {
  border: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1rem;
  width: auto;
  color: purple;
  font-weight: bold;
  letter-spacing: .5px;
  font-family: inherit;
}

option {
  padding: 5px;
}
