* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100%;
  margin: auto;
  padding: 3rem 1.5rem;
}

h1 {
  display: inline;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  font-size: 1.5rem;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interactive-options {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

body {
  background-color: #f3f3f3;
  color: #242222;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #242222;
    color: #f3f3f3;
  }
}

/*FORM STYLINGS*/

.error-message {
  margin-top: 1.5rem;
  color: red;
  font-size: 1.25rem;
}

.input-icon {
  width: 100%;
  position: relative;
}

.input-icon i {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

input {
  width: 100%;
  margin: 30px auto 0px auto;
  font-size: 1.2rem;
  padding: 10px;
  font-family: inherit;
  border-radius: 10px;
}

select {
  padding: 5px;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
  letter-spacing: .5px;
  font-family: inherit;
  width: 100%;
}

option {
  padding: 5px;
}

.individual-definition {
  margin-bottom: 20px;
}

.results-container {
  border: 2px solid #000000;
  padding: 1.5rem 3rem;
  margin: 20px auto;
  background-color: #ffffff;
}

@media (min-width: 1024px) {
  main {
    max-width: 50%;
    margin: auto;
  }

  .top-bar {
    flex-direction: row;
  }

  .interactive-options {
    margin-top: 0;
  }

  select {
      width: auto;
  }
}